@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital@1&family=Roboto+Mono:wght@216&display=swap");

/* Navbar section */
#navbarDog {
  background-color: #F5EFE6;
}

#logo {
  height: 100px;
}

.nav-link {
  font-size: 20px;
  transition: font-size 0.4s;
}

.nav-link:hover {
  font-size: 25px;
}


.index__body {
  background-color: #F5efe6;
  padding: 1rem;
}

.index__container {
  margin: 5rem auto auto auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
  "index__header index__header index__header index__header index__header index__header index__header "
  "index__box--1 index__box--1 index__mid index__mid index__mid index__aside index__aside"
  "index__box--2 index__box--2 index__mid index__mid index__mid index__aside index__aside"
  "index__box--3 index__box--3 index__mid index__mid index__mid index__aside index__aside"
  "index__box--4 index__box--4 index__mid index__mid index__mid index__aside index__aside"
  "index__box--5 index__box--5 index__mid index__mid index__mid index__aside index__aside";
}

.index__header {grid-area: index__header;}
.index__box--1{grid-area: index__box--1;}
.index__box--2{grid-area: index__box--2;}
.index__box--3{grid-area: index__box--3;}
.index__box--4{grid-area: index__box--4;}
.index__box--5{grid-area: index__box--5;}

button{
  padding: .2rem;
  background-color: #fff;
}

.index__mid{
  height: 100%;
  grid-area: index__mid;
}

.index__aside {
  height: 100%;
  grid-area: index__aside;
}

.index__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono";
}

.index__image--box {
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
}
.index__gallery {
  width: 80%;
  overflow: hidden;
  border: .24rem solid #fff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

.index__gallery--wrapper {
  display: flex;
  width: 100%;
  animation: slide 16s infinite;
}

.index__gallery--img {
  width: 100%;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}
  


#footer {
  padding: 4%;
  text-align: center;
}
